/*
BASE EXPANSION
*/

// MIXINS
@mixin default-multi-location-title {
  font-size: 12px;
  font-weight: 100;
  padding-top: 5px;
  text-align: center;
}

// BASE.
::ng-deep .base-accordion {
  .mat-expansion-panel {
    border-radius: 0px !important;

    // FIRST
    &:first-of-type {
      border-top-right-radius: 0px !important;
      border-top-left-radius: 0px !important;
    }

    // LAST
    &:last-of-type {
      border-bottom-right-radius: 0px !important;
      border-bottom-left-radius: 0px !important;
    }

    // HEADER.
    .mat-expansion-panel-header {
      background-color: #f3f3f3 !important;
      padding: 0;

      .mat-content {
        height: inherit;

        .mat-expansion-panel-header-title {
          flex-grow: initial;
        }
        .mat-expansion-panel-header-description {
        }
      }
    }

    // EXPANSION CONTENT PANEL.
    .mat-expansion-panel-content {
      background-color: rgb(83, 90, 90);

      .mat-expansion-panel-body {
        padding: 0 !important;
      }
    }

    // PANEL DATA.
    .panel-static-data {
      background-color: #ffffff;
    }
  }
}

/*
ADVANCE MULTI LOCATION TITLE
Multiple Shipping Locations
*/
.advance-multi-location-title {
  background-color: rgb(255, 255, 255) !important;

  .title-size {
    @include default-multi-location-title;
    background-color: #9b9b9b !important;
    color: #fff;
    width: 70px;
  }
  .title-qty {
    @include default-multi-location-title;
    background-color: #d9d9d9 !important;
    width: 90px;
  }
  .title-location {
    @include default-multi-location-title;
    background-color: transparent !important;
    width: 115px;
  }
}

/*
ADVANCE MULTI LOCATION DESCRIPTION
Multiple Shipping Locations
*/
.advance-multi-location-description {
  width: 100%;

  // ADDRESS.
  .title-address {
    @include default-multi-location-title;
    text-align: left;
  }

  // ACTIONS.
  .title-actions {
    @include default-multi-location-title;
    place-content: flex-end !important;

    // BUTTONS.
    ::ng-deep .mat-button {
      .mat-button-wrapper {
        color: #02b6be;
        font-size: 14px;
        font-weight: 100;
        text-decoration: underline;
      }
    }
  }
}

/*
ADVANCE PANEL DATA
Multiple Shipping Locations
*/
.panel-static-data {
  .static-data {
    @include default-multi-location-title;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #ddd;

    // LAST.
    &:last-child {
      border-right: none;
    }
  }
}
