<mat-accordion class="base-accordion">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="advance-multi-location-title" fxLayout="row">

          <!-- SIZE (TITLE) -->
          <div class="title-size" fxLayout="column">
            <span>Size</span>
            <span>M</span>
          </div>

          <!-- QTY (TITLE) -->
          <div class="title-qty" fxLayout="column">
            <span>Quantity</span>
            <span>1,000,000</span>
          </div>

          <!-- LOCATION (TITLE) -->
          <div class="title-location" fxLayout="column">
            <span>Location</span>
            <span>Plano, TX</span>
          </div>

        </div>
      </mat-panel-title>

      <mat-panel-description>
        <div class="advance-multi-location-description" fxLayout="row">

          <!-- ADDRESS (TITLE) -->
          <div class="title-address" fxLayout="column" fxFlex="70%">
            <span>Address</span>
            <span>5445 Legacy Dr Suite #420, Plano, TX 75024</span>
          </div>

          <!-- ACTIONS (TITLE) -->
          <div class="title-actions" fxLayout="row" fxFlex="30%" fxLayoutAlign="start stretch">
            <button mat-button>Edit</button>
            <button mat-button>Duplicate</button>
            <button mat-button>Delete</button>
          </div>

        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- STATIC CONTENT -->
    <div class="panel-static-data" fxLayout="row">
      <!-- ??? -->
      <div fxLayout="column">
        <span>Title</span>
        <span>Value</span>
      </div>

      <!-- ??? -->
      <div fxLayout="column">
        <span>Title</span>
        <span>Value</span>
      </div>

      <!-- ??? -->
      <div fxLayout="column">
        <span>Title</span>
        <span>Value</span>
      </div>

      <!-- ??? -->
      <div fxLayout="column">
        <span>Title</span>
        <span>Value</span>
      </div>

      <!-- ??? -->
      <div fxLayout="column">
        <span>Title</span>
        <span>Value</span>
      </div>

      <!-- ??? -->
      <div fxLayout="column">
        <span>Title</span>
        <span>Value</span>
      </div>

      <!-- ??? -->
      <div fxLayout="column">
        <span>Title</span>
        <span>Value</span>
      </div>

    </div>
    <!-- [end] -->

  </mat-expansion-panel>




  <!-- -->
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>





</mat-accordion>